server {
  listen ${WEB_PORT};
  root   /var/www/default;
  index  index.html;

  location /app {
    resolver 127.0.0.1 valid=30s;
    proxy_pass http://${APP_HOST}:${APP_PORT}/app;
  }
  location /users {
    resolver 127.0.0.1 valid=30s;
    proxy_pass http://${APP_HOST}:${APP_PORT}/users;
  }
}
