server {
  listen 80;
  root         /var/www/default;
  index        index.html;

  location /app {
    proxy_pass http://app:${APP_PORT}/app;
  }
  location /users {
    proxy_pass http://app:${APP_PORT}/users;
  }
}
